/* Import sitewide fonts in main CSS file */
/* Web design should be mobile first */
/* Classes perform better than IDs */
/* Later rules override earlier rules */
/* Remember positioning context & z-index stacking context are things that exist - based on position: property */


* {
  margin: 0; /* CSS reset */
  padding: 0; /* CSS reset */
  box-sizing: border-box; /* width & height values will include border and padding */
}

body {
  overflow-x: hidden; /* prevents unwanted horizontal scroll */
  font-family: Verdana, Tahoma, sans-serif; /* use https://www.cssfontstack.com/ to figure out good system fonts to use */
  font-size: 16px; /* sets top level em font size because it can be different across browsers */
}

.centeredHorizontally {
  margin: auto; /* centers horizontally */
}

/* Load media queries at the bottom in ascending order */